:root {
    --color-primary: #ffb600;
    --color-secondary: #0080CD;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html,
    body{
      @apply w-full h-full p-0 m-0;
    }
    body{
      @apply relative; /* -top-8: for some strange reason, body isn't at top: 0 (but not on the other pages, that's weird!!) */
      color: #333;
    }
    h1 {
        @apply font-serif text-5xl lg:text-6xl;
    }
    h2 {
        @apply font-bold uppercase text-base lg:text-2xl;
    }
    p {
        @apply text-base lg:text-2xl;
    }
}

@layer components {

    .container {
        @apply mx-auto;
    }

    .glow-fx {
        &:hover {
            box-shadow: 0 0 4px rgb(255 182 0 / 50%),
                        0 0 16px rgb(255 182 0 / 50%);

            @screen md {
                box-shadow: 0 0 4px rgb(255 182 0 / 50%),
                            0 0 24px rgb(255 182 0 / 50%);
            }
            @screen xl {
                box-shadow: 0 0 4px rgb(255 182 0 / 50%),
                            0 0 32px rgb(255 182 0 / 50%);
            }
        }

        &:focus-visible {
            box-shadow: 0 0 4px rgb(255 182 0 / 50%),
                        0 0 16px rgb(255 182 0 / 50%);

            @screen md {
                box-shadow: 0 0 4px rgb(255 182 0 / 50%),
                            0 0 24px rgb(255 182 0 / 50%);
            }
            @screen xl {
                box-shadow: 0 0 4px rgb(255 182 0 / 50%),
                            0 0 32px rgb(255 182 0 / 50%);
            }
        }
    }

    .btn {
        @apply h-16 px-12 text-base border relative;
        @apply md:h-20 md:px-14 md:text-2xl;
        @apply xl:h-24 xl:px-16 xl:text-5xl;

        outline: none;
        transition: 220ms all ease-in-out;

        border-radius: .4rem; 
        @screen md { border-radius: .5rem; }
        @screen xl { border-radius: .6rem; }

        /* a11y friendly focus state */
        &::before {
            @apply block absolute m-auto top-1/2 left-1/2;
            content: '';
            transform: translate(-50%, -50%);
            width: 90%;
            height: 70%;

            outline: .2rem dashed white;
            @screen md { outline-width: .3rem; }
            @screen xl { outline-width: .4rem; }
        }

        /* buttons variation */
        &.btn__primary {
            @apply bg-primary border-yellow-900;

            &:hover,
            &:active {
                @apply text-white bg-yellow-900 border-gray-700;
            }

            &:focus-visible {
                @apply text-white bg-yellow-900 border-gray-700;

                &::before {
                    outline-color: #fff;
                }
            }
        }

        &.btn__secondary {
            @apply bg-white border-gray-700 glow-fx;

            &:hover {
                @apply text-gray-700 bg-yellow-50 border-yellow-500;
            }

            &:focus-visible {
                @apply text-gray-700 bg-yellow-50 border-yellow-500;

                &::before {
                    outline-color: #333;
                }
            }
        }
    }
}
