:root {
  --color-primary: #ffb600;
  --color-secondary: #0080cd;
  --liHeight: 7rem;
  --contentPTop: 22rem;
  --trans: 0.4s;
  --transFast: 0.2s;
  --cub: cubic-bezier(0.01, 0.5, 0.75, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply w-full h-full p-0 m-0;
  }
  body {
    @apply relative; /* -top-8: for some strange reason, body isn't at top: 0 (but not on the other pages, that's weird!!) */
    @apply text-base lg:text-2xl;
    color: #333;
  }
  h1 {
    @apply font-serif text-5xl lg:text-6xl;
  }
  h2 {
    @apply font-bold uppercase text-base lg:text-2xl;
  }
  p {
    font-size: inherit;
    line-height: inherit;
  }
}

@layer components {
  .container {
    @apply mx-auto;
    max-width: 1024px;
  }

  section.container {
    /* @apply min-h-screen; */
  }

  .glow-fx {
    &:hover {
      box-shadow: 0 0 4px rgb(255 182 0 / 50%),
                  0 0 16px rgb(255 182 0 / 50%);

      @screen md {
        box-shadow: 0 0 4px rgb(255 182 0 / 50%),
                    0 0 24px rgb(255 182 0 / 50%);
      }

      @screen xl {
        box-shadow: 0 0 4px rgb(255 182 0 / 50%),
                    0 0 32px rgb(255 182 0 / 50%);
      }
    }

    &:focus-visible {
      box-shadow: 0 0 4px rgb(255 182 0 / 50%),
                  0 0 16px rgb(255 182 0 / 50%);

      @screen md {
        box-shadow: 0 0 4px rgb(255 182 0 / 50%),
                    0 0 24px rgb(255 182 0 / 50%);
      }
      @screen xl {
        box-shadow: 0 0 4px rgb(255 182 0 / 50%),
                    0 0 32px rgb(255 182 0 / 50%);
      }
    }
  }

  .btn.btn__secondary {
    @apply glow-fx;
  }
}

@layer utilities {
  .pge__overflow--hidden {
    @apply overflow-hidden;
    .page {
      filter: blur(6px);
    }
  }

  /* ratio preservation utility class */
  .rationer {
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    background: white;
    position: relative;
  }

  .rationer-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* .rationer {
    aspect-ratio: 16 / 9;
  }

  @supports not (aspect-ratio: 16 / 9) {
    .rationer::before {
      float: left;
      padding-top: 100%;
      content: "";
    }

    .rationer::after {
      display: block;
      content: "";
      clear: both;
    }
  } */
}
