/* draw's colors */
.cls-4 {
  stroke-miterlimit: 10;
}
.cls-2 {
  fill: var(--color-primary);
}
.cls-3 {
  fill: #fff;
}
.cls-4,
.cls-5 {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-width: 4px;
}
.cls-5 {
  stroke-linejoin: round;
}
.cls-6 {
  fill: #000;
}

/* default visibility */
.mc-blue path,
.mc-white path,
.mc-yellow path,
.mc-eyes path,
.mc-sign path {
  opacity: 1;
}

/* Logo sizes */
.cat-container {
  & svg {
    @apply mx-auto max-w-full;

    &.sm {
      @apply w-24;
    }
    &.md {
      @apply w-32;
    }
    &.lg {
      @apply w-60;
    }
    &.xl {
      @apply w-80;
    }
    &.xxl {
      width: 32rem;
    }
  }
}
